@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Pacifico&display=swap');


body{
    max-height: 100vh;
    max-width:100vw;
    background-color: #CCE4B5;
    overflow: hidden;
}


h1,p{
    font-family: Dancing Script;
}
h1{
    font-size: 42px;
}
p{
    font-size: 32px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left:20px;
    padding-right: 20px;
}

.cat{
    width:125px;
    height:100px;
    background-position: 55%;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    bottom:0px;
    left:0px;
    
}

.move-left{
    background-image: url('./IMG_1824.GIF');
}

.move-right{
    background-image: url('./IMG_1825.GIF');

}

#paw{
    height:250px;
    width:250px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease; 
}

#paw:active {
    transform: translate(-50%, -50%) scale(0.9); 
}
